dropdown:hover>.dropdown-menu {
	display: block;
}
#navigation, .navbar .navbar-default {
	background-image: url("../assets/img/contours_dark_header.png");
}
.nav-item .nav-link {
	color: white;
}
.dropdown-menu {
	background-color: #2d3339;
}

.dropdown-item, .nav-link {
	color: white;
}
.navbar ul, .navbar li {
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:active {
	color: black;
}
.dropdown .dropdown-menu a:hover {
	color: #434d56;
}
.navbar-brand {
	color: white;
}
.navbar-collapse {
	padding-right: 50px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}